.container{
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    font-size:xx-large;
    font-weight: bolder;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 15px;
}