.container{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    font-size:xx-large;
    font-weight: bolder;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 15px;
}

button{
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    width: 90px
}